@import "colores";
@import"tipografia";
@import"estructura";


ul{
    list-style: none;
    li{
        display: inline-block;
        padding: 20px;
        a {
            color: white;
            text-decoration: none;
            font-size: $tamano_fuente_menu;
            &:hover{
                color: red;
                text-decoration: underline;
                font-weight: bold;
            }

        }
    }
}
.logo{
    width: 150px;
}
.banner{
    background-image: url("../images/DRAGSTERSCS24.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}
.banner1{
    background-image: url("../images/1000rrrr.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}
.banner2{
    background-image: url("../images/f3-rosso-xl.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}
.banner3{
    background-image: url("../images/turismovelocerosso.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}
.banner4{
    background-image: url("../images/superveloce223.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}
.banner5{
    background-image: url("../images/artinmotion.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}